data/
logs/
runs/
weights/
data/
__pycache__/
.vscode/
lr_finder_plots/
plots/
plot.html
configs/plot/plot_effnetb4_damselfly_stage1_scArcFace.yml
configs/train/swa_effnetb4_damselfly_stage1_scArcFace.yml
configs/train/train_effnetb4_damselfly_stage1_scarcface.yml
cosine.csv
app.py
biosupcon/vis/methods_backup.py
*.kate-swp

## python stuff
bin
docs
develop-eggs
dist
eggs
htmlcov
lib
lib64
local
parts
bioencoder.egg-info
spyder-debug.log
*.egg-info
node_modules
package-lock.json
package.json
