albumentations==1.3.0
bokeh
faiss-cpu
ipywidgets
matplotlib
numpy
pandas
pytorch-metric-learning==2.0.1
scikit-learn
streamlit-option-menu
tensorboard
timm
torch-ema==0.3.0
torch-lr-finder
torch-optimizer==0.3.0
